@model IEnumerable<BarberShop1._0._1.Web.Models.Barber>

@{
    ViewData["Title"] = "Çalışanlar";
}

<h1>Çalışanlar:</h1>
<br />
<p>
    <a class="btn btn-primary" asp-action="Create">Yeni personel ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Services)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Availabilities)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <!-- Display the services for this barber -->
                <ul>
                    @foreach (var service in item.Services)
                    {
                        <li>@service.Name</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var availability in item.Availabilities)
                    {
                        <li>@availability.AvailableFrom.ToString("HH:mm") - @availability.AvailableTo.ToString("HH:mm")</li>
                    }
                </ul>
            </td>
            <td>
                    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> 
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Detaylar</a> 
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
