@model IEnumerable<BarberShop1._0._1.Web.Models.AppointmentRecords>

@{
    ViewData["Title"] = "Randevu Yönetim Sayfası";
}

<h1>Randevular Listesi:</h1>

<p>
    <a asp-action="Create">Yeni Randevu Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Barber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDateTime)
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.ConfirmationToken)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.IsConfirmed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Barber.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDateTime)
            </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.ConfirmationToken)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.IsConfirmed)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
                <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Detaylar</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
